:root {
    --bg-scheme-blue: #364f6b;
    --bg-scheme-turquoise: #3fc1c9;
    --bg-scheme-grey: #f5f5f5;
    --bg-scheme-pink: #fc5185;

    --gutter: 1rem;
    --big-gutter: 2rem;
}

/* Ant Design Vue table style */
.ant-table-expanded-row {
    color: #949494;
}
.ant-table-body {
    font-size: 0.8rem;
}
.ant-table-tbody .ant-table-row:nth-child(odd) {
    background: whitesmoke;
}
